/* Main */
*{
    margin:0;
    padding:0;
    font-family: "Calibri";
}

body{
    background-image: url("images/simpletechnology.png");
    background-position: cover;
}

.HeaderContent{
    width: 100%;
    height: 70px;
    background-color: #545454;
}

.MainHeaderContent{
    width: 900px;
    margin: auto;
    padding: 5px;
    color: #fdfdfd;
}

.NavMenu{
    list-style:none;
    float:left;
    margin-left: 30px;
    margin:20px;
}

.NavMenu > li{
    float:left;
    margin-right: 10px;
}

.NavMenu > li > a{
    text-decoration:none;
    color:inherit;
}

#greybutton{
    background-color:#545454;
    padding: 0 5px;
    text-decoration: none;
    color: inherit;
}

#greybutton > a{
    text-decoration: none;
    color: #fdfdfd;
}

.menuDropDown{
    list-style: none;
    background-color:#fdfdfd;
    color: #545454;	
    width: 170px;
    position: absolute;
}
.menuDropDownElement{
    display:none;	
    height: 30px;
    width: 150px;
    margin: 10px;
    text-decoration: none;	
}

.menuDropDownElement > a{
    text-decoration: none;	
    color: #545454;
}

.dropDownButton:hover .menuDropDownElement {
    display:block;
}

.MainContent{
    width: 900px;
    margin: 20px auto 50px  auto;
    background-color: #545454;
    height: auto;
    padding: 5px;
    box-shadow: 0px 15px 5px 11px #6067f399;	
    color: #fdfdfd;
    border-radius: 5px;
}

.Footer{
    background-color:#fdfdfd;
    position:fixed;
    bottom:0;
}



#hTitle{
    float: left;
    padding: 5px;
}


.ArjanPhoneImage {
    float:right; 
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius:5px;
    box-shadow: 0px 5px 5px 10px darkgray;

}

.ArjanText {
    float: left;
    width: 450px;
    height: 350px;
    margin: 5px;
    text-align: justify;


}
#pArjanText {
    padding-top: 10px;
    float: left;
}
.rightBlok {
    float: right;
    width: 350px;
    height: 290px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 5px;
    text-align: left;
    background-color: #4f4354;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 10px darkgray;
}
.ArjanUlList {
    list-style: none;


}

#form {
    float: left;
    background-color:#4f4354;
    width: 880px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px darkgray;
}
#ArjanSlot {
    float: left;
    width: 890px;
    height: 150px;
    margin: 5px;
    text-align: justify;
}
textarea {
    width: 800px;
    height: 100px;
    margin-top: 5px;
    margin-left: 43px;
    resize: none;
    color: black;
    overflow: auto;
}
input[type=submit] {
    margin-top: 10px;
    margin-left: 40px;
}
a{
    color: lightgrey;
}