#hTitle{
    float: left;
}
.ArjanPhoneImage {
    float:left; 
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 0px 0px 30px 5px darkgray;
}
.Text {
    float: left;
    width: 480px;
    height: 350px;
    margin: 10px;
}
.rechts {
    float: right;
    width: 330px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: left;
    background-color: dimgrey;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 8px 10px 5px darkgray;
}
.ulList {
    list-style: none;
}
#form {
    float: left;
    background-color: dimgrey;
    width: 890px;  
    padding: 5px;
    border-radius: 10px;
   
}
#totSlot {
    float: left;
    width: 850px;
    height: 150px;
    margin: 5px;
}

textarea {
    width: 760px;
    height: 150px;
    margin-top: 5px;
    margin-left: 55px;
    resize: none;
    color: black;
    overflow: auto;
    border-radius: 5px;
}
input[type=text]{
    margin-left: 9px;
    border-radius: 5px;
}
input[type=email]{
    margin-left: 7px;
    border-radius: 5px;
}
input[type=submit] {
    margin-top: 5px;
    margin-left: 55px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10px;
    color: dimgray;
    background-color: white;
}
a{
    color: lightgrey;
}