.MPhoneImage {
	float:left; 
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 350px;
	height: 263px;
	border: 4px solid black;
	border-radius:5px;
	box-shadow: 0px 5px 5px 10px #33312d;
	
}

.MText {
	float: left;
	width: 450px;
	height: 350px;
	margin: 5px;
	text-align: justify;


}
#pMText {
	padding-top: 10px;
	float: left;
}
.whiteC{
	background-image: url("images/simpletechnology.png");
	float: left;
	width: 350px;
	height: 300px;
	padding: 5px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	border-radius: 5px;
	
}
.rightBlok {
	width: 350px;
	height: 300px;
	text-align: left;
	background-color: white;
	opacity: 0.8;
	border-radius: 5px;
	box-shadow: 0px 5px 5px 10px #33312d;
	color: black;
}
#MText {
	padding-top: 10px;
	float: left;
}

.MUlList {
	list-style: none;
	
	
}
#form {
	float: left;
	background-color:#4f4354;
	width: 880px;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px #33312d;
}
#MSlot {
	float: left;
	width: 890px;
	height: 150px;
	margin: 5px;
	text-align: justify;
}
textarea {
	width: 800px;
	height: 100px;
	margin-top: 5px;
	margin-left: 43px;
	resize: none;
	color: black;
	overflow: auto;
}
input[type=submit] {
	margin-top: 10px;
	margin-left: 40px;
}