

#phoneNicktext{
	width: 450px;
	padding: 10px;
	float: left;
	
}

#phoneImageNick{
	padding: 10px;
	float: right;
	height: 293px;
}

.Nicktext{
	
	text-align:justify;
	font-family: calibri;
	padding: 10px;
	padding-left: 0px;
	float: left;
	
}

.border
{
	border: 5px solid black;
	border-radius: 10px;
	box-shadow: 1px 10px 5px 5px #1d1d1e;
	
}

#tablevoordelenplusspecs{
	text-align: justify;
	font-family: calibri;
	float: right;
	height: 727px;
	width: 390px;
	border-radius: 10px;
	padding-left: 30px;
	background-color: #996161;
	
}
	
.th 
{
    border: 2px solid black;
    color: black;
	padding: 10px;
	background-color: #996161;
	color: white
}

.td
{
	border: 2px solid black;
    color: black;
	padding: 10px;
	background-color: white;
}

.backgroundh
{
	background-color: #373158;
	color: white
	
}

.backgroundt
{
	background-color: white;
}

.table{
	border: 5px solid lightgrey;
	border-radius: 10px;
	box-shadow: 5px 5px 2px 5px #1d1d1e;
	float: left;
}

#specificaties{
	width: 880px;
	float: left;
	height: auto;
	border-radius: 10px;
	background-color: #996161;
	margin: auto;
	padding: 10px;
	
}

.tussenkop{
	text-align: center;
	
}

.tablespecs{
	text-align: justify;
	color: black;
	border: 5px solid lightgrey;
	height: 180px;
	width: 293px;
	float: left;
	margin: auto;
	
}

.thspecs{
	background-color: white;
	border: 2px solid lightgrey;
	padding: 5px;
	padding-bottom: 5px;
}

.tdspecs{
	background-color: white;
	border: 2px solid lightgrey;
	padding: 5px;
	padding-bottom: 5px;
}

.ptables{
	width: 890px;
	height: 10px;
	padding: 5px;
	
}

#phoneNicktextslot{
	width: 890px;
	height: 700px;
	padding: 10px;
	float: left;
}

.Nicktextslot{
	float: left;
	width: 380px;
	height: 180px;
	padding: 10px;
	padding-left: 0px;
	
}

.phoneImageNicklink{
	float: right;
	padding: 50px;
	padding-right: 20px;
}

#formNick{
	width: 400px;
	height: 500px;
}

.pforminput{
	padding: 0px;
}



