

.phoneNicktext{
	width: 450px;
	padding: 5px;
	float: left;
}



#Nicktext1{
	
	text-align:justify;
	font-family: calibri;
	padding: 5px;
	padding-left: 0px;
	float: left;
	
}

.phoneImageNick{
	float: right;
	width: 220px;
	height: 275px;
	padding: 10px;
}
.border
{
	border: 5px solid black;
	border-radius: 10px;
	box-shadow: 1px 10px 5px 5px #1d1d1e;
	
}

#tablevoordelenplusspecs{
	text-align: justify;
	font-family: calibri;
	float: right;
	height: 690px;
	width: 390px;
	border-radius: 10px;
	padding-left: 30px;
	background-color: #996161;
}
	
.Nicktext2{
	text-align:justify;
	font-family: calibri;
	padding: 10px;
	padding-left: 0px;
	float: left;
	 
}

.th 
{
    border: 2px solid black;
    color: black;
	padding: 10px;
	background-color: #996161;
	color: white
}

.td
{
	border: 2px solid black;
    color: black;
	padding: 10px;
	background-color: white;
}


.backgroundh
{
	background-color: #373158;
	color: white
	
}

.backgroundt
{
	background-color: white;
}

.table{
	border: 5px solid lightgrey;
	border-radius: 10px;
	box-shadow: 5px 5px 2px 5px #1d1d1e;
	float: left;
}

#specificaties{
	width: 890px;
	padding: 5px;
	float: left;
	height: auto;
	border-radius: 10px;
	background-color: #996161;
	margin: auto;
	padding: 5px;
}

.tussenkop{
	text-align: center;
}

.tablespecs{
	text-align: justify;
	color: black;
	border: 5px solid lightgrey;
	height: 180px;
	width: 293px;
	float: left;
	margin: auto;
	
	
}

.thspecs{
	background-color: white;
	border: 2px solid lightgrey;
	padding: 5px;
	padding-bottom: 5px;
}


.tdspecs{
	background-color: white;
	border: 2px solid lightgrey;
	padding: 5px;
	padding-bottom: 5px;
}

.ptables{
	width: 890px;
	height: 10px;
	padding: 5px;
	
}

#slot{
	height: 700px;
	width: 890px;
	
}

#Nicktextslot{
	float: left;
	width: 380px;
	height: 200px;
	padding: 5px;
	
	
}

.h2slot{
	padding: 5px;
	
}
	