
h1 {
	color: white;
	padding-left: 20px;
}

.MainContent {    
	border-radius: 25px;
	width: 1080px;
	height: 1400px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: #545454;
	box-shadow: 0px 15px 5px 11px #668cff;

}

#MainHeader {
	padding-left: 20px;
	font-size: 50px;
}

#MainPhoto {
	float: right;
	padding-right: 20px;
	padding-top: 35px;
}

table, th, td {
	border: 1px solid black;
    border-collapse: collapse;
	padding: 15px;
	background-color: lightgray;	
}

.MainTable {
	color: #545454;
	width: 700px;
}

.table {
	padding: 20px;
}

#ReviewText {
	color: white;
	padding-left: 20px;
	padding-right: 350px;
	padding-top: 20px;
	text-align: justify;
}

.punten {
	padding-top: 50px;
	width: 600px;
	height: 200px;
}

.hoofdpunten {
	font-size: 20pt;
	padding-bottom: 10px;
}

#pluspunten {
	width: 250px;
	float: left;
}

#minpunten {
	width: 300px;
	float: right;
}

ul {
	list-style: none;
	color: white;
}

.plusminpunten {
	padding: 5px;
	padding-left: 20px;
}

.invultext {
	padding-top: 10px;
	padding-left: 20px;
}

input[type=text],input [type=radio], select, textarea {
    width: 500px;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 15px;
}

#reacties {
	width: 500px;
	height: 150px;
	margin-right: 700px;
}

.opmerkingen {
	padding-left: 0px;
}

.naam {
	padding-top: 10px;
	padding-right: 700px;
	font-size: 20px;
}
