*{
	margin:0;
	padding:0;
	font-family: "Calibri";
}

body{
	background-image: url("images/simpletechnology.png");
	background-position: cover;
}

.HeaderContent{
	width: 100%;
	height: 70px;
	background-color: #545454;
}

.MainHeaderContent{
	width: 900px;
	margin: auto;
	padding: 5px;
	color: #fdfdfd;
}

.NavMenu{
	list-style:none;
	float:left;
	margin-left: 30px;
	margin:20px;
}

.NavMenu > li{
	float:left;
	margin-right: 10px;
}

.NavMenu > li > a{
	text-decoration:none;
	color:inherit;
}

#greybutton{
	background-color:#545454;
	padding: 0 5px;
	text-decoration: none;
	color: inherit;
}

#greybutton > a{
	text-decoration: none;
	color: #fdfdfd;
}

.menuDropDown{
	list-style: none;
	background-color:#fdfdfd;
	color: #545454;	
	width: 170px;
	position: absolute;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.menuDropDownElement{
	display:none;	
	height: 30px;
	width: 150px;
	margin: 10px;
	text-decoration: none;	
}

.menuDropDownElement > a{
	text-decoration: none;	
	color: #545454;
}

.dropDownButton:hover .menuDropDownElement {
	display:block;
}

.MainContent{
	width: 900px;
	margin: 20px auto 50px  auto;
	background-color: #545454;
	height: auto;
	padding: 5px;
	box-shadow: 0px 15px 5px 11px #6067f399;	
	color: #fdfdfd;
	border-radius: 5px;
}

.WelcomeSection{
	width: 900px;
	padding: 5px;
}

.PhoneSection{
	width: 900px;
	padding-top: 30px;
}

.PhoneCard{
	width: 190px;
	height: 300px;
	padding: 10px;
	margin: 5px;
	border: solid 1px #fdfdfd;
	border-radius: 5px;
	float:left;
}

.PhoneCard:hover{
	width: 190px;
	height: 300px;
	padding: 10px;
	margin: 3px;
	border: 3px solid #fdfdfd;
}

.urlCorrector{
	text-decoration:none;
	color: inherit;
}

.Footer{
	background-color:#fdfdfd;
	position:fixed;
	bottom:0;
}

.featureList{
	padding-left:20px;
}
.C{
	text-align:justify;
	width: 500px;	
	padding-top: 2px;
	padding-bottom: 10px;
}
#C2{
	text-align:justify;
	width: 500px;	
	padding-top: 10px;
}
#hTitle{
	float: left;
	padding: 5px;
	font-size: 40px;
}
#LogoImage{
	margin: 5px;
	padding: 0;
	height: 60px;
	float: left;
	margin-left: 260px;
}

.PhoneCard > p > img {
	margin: 10px auto;
	display: block;
	
}
.downIcon{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 14px;
	font-size: inherit;
	text-rendering: auto;
}
.downIcon:before{
	content: "\2bc6";
}